{% extends 'base_template.html' %}
{% block title %}
About Me
{% endblock title %}

{% block body %}
<div class="about_me">
    <div class="heading"><h1>About Me</h1></div>
    <div class="content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusantium error sapiente repellendus quod! Voluptatum eos accusamus assumenda autem, hic quisquam voluptatibus quaerat beatae ducimus sed unde optio ullam fuga doloribus? Officiis, accusantium distinctio? Deleniti sed facere sunt ipsa error dolores, suscipit quod esse aliquam dolorem officia fugiat iste nostrum, distinctio, sit qui quibusdam in hic repellat excepturi. Illo fugit at, quasi ut laboriosam, debitis hic harum vero et non, commodi repellat ipsam nulla dolores quibusdam dolorem esse quae? Aspernatur, quae ad. Ipsum illo blanditiis necessitatibus accusantium sapiente a vero voluptas. Voluptate doloremque atque obcaecati tempore error recusandae, eaque id sapiente repellendus aspernatur, ducimus incidunt repellat velit unde sed eveniet distinctio quasi similique. Aliquid recusandae excepturi non perspiciatis necessitatibus eveniet ipsam debitis beatae neque.</div>
</div>
{% endblock body %}